* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.square {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.margin {
    margin-top: 3em;
    margin-bottom: 3em;
}

.margin-2 {
    margin-top: 6em;
    margin-bottom: 3em;
}


.parent {
    border: 1px solid transparent;
    background-color: red;
    margin-top: 4em;
}

.child {
    margin: 3em
}